<mat-card>
    <mat-card-header>
        <h2>Update User</h2>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="registerForm" (ngSubmit)="updateUser()">
            
            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" >
              </mat-form-field>
              
              <mat-form-field class="example-full-width">
                <mat-label>email*</mat-label>
                <input matInput formControlName="email" >
             
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Mobile Number</mat-label>
                <input matInput formControlName="mobile" >
              </mat-form-field>
             
              <div>
                <button mat-raised-button color="primary">Submit</button>
              </div>
          </form>
    </mat-card-content>
  </mat-card>